name: dotnet

on:
  push:
    branches:
      - "main"
      - "preview"
      - "dev"
  pull_request:
    # The branches below must be a subset of the branches above
    branches:
      - "dev"

jobs:
  mac-build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: dotnet info
      run: dotnet --info
    - name: build
      run: bash build.sh --target=build
  
  linux-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: dotnet info
      run: dotnet --info
    - name: build
      run: bash build.sh --target=build
      
  windows-build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: dotnet info
      run: dotnet --info
    - name: build
      shell: pwsh
      run: .\build.ps1
